<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>View 1</title>
	</head>
	<body>
		<!--
			Feel free to make changes to this HTML but do no change the option in select
		-->

		<h1>Shopping Cart</h1>
		<!-- add form -->
		<form method="GET" action="/shippingaddress" data-th-object="${item}">
			<table>
				<tr>
					<td>Item:</td>
					<td>
						<select name="item" data-th-field="*{itemName}">
							<option value="apple">Apple</option>
							<option value="orange">Orange</option>
							<option value="bread">Bread</option>
							<option value="cheese">Cheese</option>
							<option value="chicken">Chicken</option>
							<option value="mineral_water">Mineral Water</option>
							<option value="instant_noodles">Instant Noodles</option>
						</select>
					</td>
					<!-- Display error message -->
					<td data-th-if="${#fields.hasErrors('itemName')}">
						<span data-th-errors="*{itemName}" data-th-errorclass="error"></span>
					</td>

				</tr>
				<tr>
					<td>Quantity:</td>
					<td>
						<input type="number" name="quantity" size="4" placeholder="Quantity" data-th-field="*{quantity}">
					</td>

					<!-- Display error message -->
					<td data-th-if="${#fields.hasErrors('quantity')}">
						<span data-th-errors="*{quantity}" data-th-errorclass="error"></span>
					</td>
				</tr>
			</table>
	
			<!-- Only display if not empty  -->
			<div data-th-unless="${#lists.isEmpty(cart.contents)}"> 
				<table border="1" style="margin-top: 2vh; margin-bottom: 2vh;">
					<thead>
						<tr>
							<th>Item</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody> 
						<!-- iteration though list -->
						<tr data-th-each="item : ${cart.contents}" data-th-object="${item}">
							<td>
								<span data-th-text="*{itemName}"></span>
							</td>
							<td>
								<span data-th-text="*{quantity}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Display message if cart is empty -->
			<div data-th-if="${#lists.isEmpty(cart.contents)}">
				<p>Your cart is currently empty</p>
			</div>
	
			<div>
				<button type="submit" formmethod="POST" formaction="/">Add</button>
				<button type="submit">Next</button>
			</div>
		</form>

		
	</body>
</html>
